* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

.space-up {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: -5px;
}

.logo-img {
  margin-bottom: 20px;
}

header .mob-bar {
  padding: 10px 0;
  background: #ffb11f;
}
header .mob-bar .row {
  display: flex;
  justify-content: space-between;
}
header .mob-bar .row .contact-ways {
  display: flex;
  flex-basis: 60%;
  flex-wrap: wrap;
}
header .mob-bar .row .contact-ways li {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  padding-right: 15px;
  align-items: center;
}
header .mob-bar .row .contact-ways li i {
  margin-right: 5px;
  font-size: 1.5rem;
}
header .mob-bar .row .social-ways {
  display: flex;
  flex-basis: 40%;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
header .mob-bar .row .social-ways a {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
}
header .navbar .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
header .navbar .row .nav-img {
  align-items: center;
}
header .navbar .row .nav-list {
  display: flex;
  align-items: center;
}
header .navbar .row .nav-list li {
  padding: 0 20px;
}
header .navbar .row .nav-list li a {
  font-size: 1.8rem;
  color: black;
}
header .navbar .row .nav-list li .nav-btn {
  display: block;
  padding: 13px 30px;
  background: #ffb11f;
  font-size: 1.8rem;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
header .navbar .row .nav-list li .nav-btn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: #0f1b28;
  transition: 0.3s ease-in-out;
}
header .navbar .row .nav-list li .nav-btn:hover::before {
  width: 100%;
  height: 100%;
  z-index: -1;
}

#footer {
  padding: 100px 0;
  background-color: #0f1b28;
  color: #fff;
}
#footer .container {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}
#footer .container .row {
  display: flex;
}
#footer .container .row .box {
  padding: 0 12px;
  flex: 1;
}
#footer .box-1 p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#footer .box-2 li {
  padding: 10px 0;
  line-height: 1.7;
  justify-content: space-between;
}
#footer .box-2 li p {
  font-size: 1.8rem;
}
#footer .box-2 li i {
  color: #ffb11f;
  font-size: 2rem;
  width: 30px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}
#footer .box-2 li .details {
  width: 100%;
}
#footer .box-3 li {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
#footer .box-3 li a {
  width: 90px;
  display: inline-block;
  height: auto;
}
#footer .box-3 li h3 {
  cursor: pointer;
  font-size: 2rem;
  margin-bottom: 10px;
  transition: 0.3s;
}
#footer .box-3 li h3:hover {
  color: #ffb11f;
}
#footer .box-3 li h5 {
  font-size: 1.8rem;
}
#footer .box-3 li .veg-content {
  width: calc(100% - 100px);
}

.box-4 .footer-imgs {
  display: flex;
  flex-wrap: wrap;
}
.box-4 .footer-imgs li {
  width: 85px;
  padding: 2px;
}
.box-4 .footer-imgs li a {
  width: 100%;
  display: block;
}/*# sourceMappingURL=main.css.map */